pandas==1.3.3
numpy>=1.21.2
PyQt6>=6.0.0
matplotlib==3.4.3
scikit-learn==0.24.2
email==6.0.0
os==0.1.5
datetime==4.3
reportlab==3.6.2
qtawesome==1.1.0
cffi>=1.15.0
psutil>=5.8.0
dpkt>=1.9.7
requests
multiprocessing
socket
fpdf
Flask
tkintertable